*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav section */

.navbar{
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
  background: #0D1B2A;
  width: 100%;
  height: 100px;
}

.element{
  display: flex;
  justify-content: space-between;
}

.logo h1{
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: bold;
  margin: 20px;
}

.nav ul{
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 35px;
}

.nav ul li a{
  text-decoration: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #E0E0E0;
  padding: 20px;
}

.nav ul li a:hover{
  color: #FF6F00;
}

/* hero section */


.All{
  animation: fadeIn 1s ease;
}


.about-hero {
  background: #111827;
  color: #ffffff;
  padding: 100px 20px;
  text-align: center;
}

.about-hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.about-hero p {
  font-size: 18px;
  color: #d1d5db;
}

.about-content {
  padding: 80px 20px;
  background: #f9fafb;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-text p {
  color: #4b5563;
  margin-bottom: 15px;
  line-height: 1.7;
}

.about-image img {
  width: 50%;
  border-radius: 10px;
  margin: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.about-values {
  padding: 80px 20px;
  background: #ffffff;
}

.about-values h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.value-card {
  background: #f9fafb;
  padding: 30px;l
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.value-card h3 {
  margin-bottom: 10px;
}

.value-card p {
  color: #6b7280;
}


/* Footer section */


.banner{
  background: #FF6F00;
  border-radius: 1rem;
  color: #FFFFFF;
  text-align: center;
  padding: 70px;
  margin: 40px;
  animation: moveUpDown 5s ease-in-out infinite;
}

.content{
  background: #222;
  color: #ccc;
  padding: 40px;
  text-align: center;
}



/* Mobile */
@media (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
}



/* Animation section */

@keyframes fadeIn {
      from { opacity: 0; transform: scale(0.9); }
      to { opacity: 1; transform: scale(1); }
    }
