*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* drop down section */


.dropdown {
  position: relative;
  width: 200px;
}

.dropdown-btn {
  width: 40%;
  height: 40px;
  background: #ffffff;
  margin: 25px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

/* Hidden by default */
.dropdown-menu {
  position: absolute;
  margin-top: 10px;
  top: 110%;
  left: 0;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  list-style: none;
  padding: 8px 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s ease;
}

.dropdown-menu li a{
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

/* Show on hover */
.dropdown:hover
.dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu li,p {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #FF6F00;
}


/* add to cart section */

#cart-back{
  background-color: #FFFFFF;
  position: absolute;
  margin-top: 25px;
  margin-left: 600px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 450px;
  display: none;
  
}

#cart-back .con{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.text h2{
  font-size: 20px;
}


/* White Circle */
.profile-btn {
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ddd;
  margin: 30px;
}

/* Overlay Background */

.profile-back {
  position: absolute;
  margin-left: 670px;
  margin-top: 120px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Profile Card */
.profile-card {
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 280px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  position: relative;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

/* Profile Image */
.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

/* Logout Button */
.logout-btn {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  background: #ff6600;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}