*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav section */

.navbar{
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
  background: #0D1B2A;
  width: 100%;
  height: 80px;
}

.element{
  display: flex;
  justify-content: space-between;
}

.logo h1{
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: bold;
  margin: 15px;
}

.nav ul{
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 25px;
}

.nav ul li a{
  text-decoration: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #E0E0E0;
  padding: 20px;
}

.nav ul li a:hover{
  color: #FF6F00;
}

.cta button{
  background: #1A1F36;
  box-shadow: 0 8px 11px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #E0E0E0;
  border: none;
  width: 100px;
  height: 50px;
  transition: .3s ease;
}

.cta button a{
  text-decoration: none;
  color: #E0E0E0;
}

.cta button:hover{
  background: #FF6F00;
  color: #FFFFFF;
}


/* Hero section */

.container{
  background: linear-gradient(rgba(13,27,42,.8), rgba(13,27,42,.8));
  background-size: cover;
  padding: 100px;
  background-position: center;
  text-align: center;
  color: #FFFFFF;
}

.text{
  animation: slideUp 2s ease forwards;
}

.text h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  margin-bottom: 15px;
}

.text p{
  font-size: 22px;
  margin-bottom: 30px;
}

.btn button{
  background: #1A1F36;
  box-shadow: 0 8px 11px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #E0E0E0;
  border: none;
  width: 150px;
  height: 60px;
  transition: .3s ease;
  animation: slideUp 2s ease forwards;
}

.btn button:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,.05);
  background: #FF6F00;
  color: #FFFFFF;
}

/* cartegory section */

.title h2{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}



.cart-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 50px;
  padding: 10px;
}

.cg{
  background: #FFFFFF;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,.05);
  transition: .3s;
  animation: fadeIn 2s ease;
}

.cg p{
  font-size: 20px;
  font-weight: bold;
}

.cg img{
  width: 120px;
  float: right;
}

.cg:hover{
  transform: scale(1.05)
}


/* Products section */

.product-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  margin-top: 30px;
}

.pg1{
  background: #FFFFFF;
  height: 500px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,.05);
  overflow: hidden;
  animation: slideUp 2s ease forwards;
}

.pg2{
  background: #FFFFFF;
  height: 500px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,.05);
  overflow: hidden;
  animation: slideUp 2s ease forwards;
}

.pg3{
  background: #FFFFFF;
  height: 500px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,.05);
  overflow: hidden;
  animation: slideUp 2s ease forwards;
}


.pg img{
  width: 250px;
  height: 250px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,.05);
}

.pg2 img{
  width: 250px;
  height: 230px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,.05);
}

.pg3 img{
  width: 250px;
  height: 230px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,.05);
}



.info{
  padding: 20px;
}

.info h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.info p{
  font-weight: bold;
  margin-bottom: 15px;
}

.info button{
  background: #1A1F36;
  box-shadow: 0 8px 11px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #E0E0E0;
  border: none;
  width: 150px;
  height: 50px;
  transition: .3s ease;
  animation: slideUp 0.7s ease forwards;
}

.info button:hover{
  background: #FF6F00;
  color: #FFFFFF;
}

/* Footer section */


.banner{
  background: #FF6F00;
  border-radius: 1rem;
  color: #FFFFFF;
  text-align: center;
  padding: 70px;
  margin: 40px;
  animation: moveUpDown 5s ease-in-out infinite;
}

.content{
  background: #222;
  color: #ccc;
  padding: 40px;
  text-align: center;
}




/* Animation section */

@keyframes fadeIn {
      from { opacity: 0; transform: scale(0.9); }
      to { opacity: 1; transform: scale(1); }
    }


 @keyframes slideUp {
      from { opacity: 0; transform: translateY(20px); }
      to { opacity: 1; transform: translateY(0); }
    }


@keyframes moveUpDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-40px);
      }
      100% {
        transform: translateY(0);
      }
    }